<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Done"></activity>
        <activity android:name=".Navigating" />
        <activity android:name=".PlaceInfo" />
        <activity android:name=".StartingAndEnding" />
        <activity android:name=".SearchingPath" />
        <activity android:name=".NewPath" />
        <activity android:name=".AddingPlace" />
        <activity android:name=".CreatingPath" />
        <activity android:name=".ChoosingStartingPoint" />
        <activity android:name=".ChoosingGuideMap" />
        <activity android:name=".choosing" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".credits" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>