<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beta">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.beta.placeInfoShowing"></activity>
        <activity android:name="com.example.beta.Done" />
        <activity android:name="com.example.beta.Navigating" />
        <activity android:name="com.example.beta.PlaceInfo" />
        <activity android:name="com.example.beta.StartingAndEnding" />
        <activity android:name="com.example.beta.SearchingPath" />
        <activity android:name="com.example.beta.NewPath" />
        <activity android:name="com.example.beta.activities.AddingPlace" />
        <activity android:name="com.example.beta.CreatingPath" />
        <activity android:name="com.example.beta.ChoosingStartingPoint" />
        <activity android:name="com.example.beta.ChoosingGuideMap"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.example.beta.choosing" />
        <activity android:name="com.example.beta.Login" />
        <activity android:name="com.example.beta.Register" />
        <activity android:name="com.example.beta.credits" />
        <activity android:name="com.example.beta.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>